@import "tailwindcss";

@theme {
  --color-primary: #007BFF;
  --color-primary-dark: #0056b3;
  --color-secondary: #E3F2FD;
  --color-gradient-start: #007BFF;
  --color-gradient-end: #00C6FF;
}

body {
  @apply bg-secondary text-gray-800;
}
